<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736169813502-p5740iem0u489tu4ji2vioiru2trc5sg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736169813502-p5740iem0u489tu4ji2vioiru2trc5sg</string>
	<key>API_KEY</key>
	<string>AIzaSyCxKtCGYoQTj7gaz-ZDNLwnb-7HsIIOPwg</string>
	<key>GCM_SENDER_ID</key>
	<string>736169813502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Swift-Beginners-app.BuildTimer</string>
	<key>PROJECT_ID</key>
	<string>message-ff19f</string>
	<key>STORAGE_BUCKET</key>
	<string>message-ff19f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736169813502:ios:3588ccb7d03156f6bd4caf</string>
	<key>DATABASE_URL</key>
	<string>https://message-ff19f-default-rtdb.firebaseio.com</string>
</dict>
</plist>